{# templates/collaboration/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modifier la collaboration: {{ collaboration.name }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="display-4">Modifier la collaboration: {{ collaboration.name }}</h1>

        {# Formulaire de modification de collaboration #}
        {{ form_start(form) }}
        <div class="mb-3">
            {{ form_row(form.name, {
                'attr': {'class': 'form-control'}
            }) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.details, {
                'attr': {'class': 'form-control'}
            }) }}
        </div>

        <button type="submit" class="btn btn-success">Sauvegarder les modifications</button>
        {{ form_end(form) }}

        {# Bouton retour à la liste des collaborations après modification #}
        <div class="mt-3">
            <a href="{{ path('collaboration_index') }}" class="btn btn-secondary">Retour à la liste des collaborations</a>
        </div>
    </div>
{% endblock %}
